<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit non autem iusto error laborum sapiente voluptatem
    debitis molestiae! Libero recusandae unde reprehenderit voluptatem ut tempora ex iure ipsum. A, unde?
  </div>
</body>

</html>